/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 128, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #e7e3e3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9fee9d;
  color: rgb(255, 128, 0);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #ffdd00;
  color: white;
}

/* Hide the icon that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Style for page content */
.content {
  padding: 14px;
  font-size: 22px;
}

.image-container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Zebra-striped table */
.zebra-table {
  width: 100%;
  border-collapse: collapse;
}

.zebra-table th,
.zebra-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.zebra-table th {
  background-color: #4CAF50;
  color: white;
}

.zebra-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* When the screen is less than 950 pixels wide */
@media screen and (max-width: 950px) {
  /* Hide all links, except for the selected tab */
  .topnav a:not(.active) {
    display: none;
  }

  /* Show the icon that should open and close the topnav */
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* When the screen is less than 800 pixels wide, if the user clicks on the icon */
/* the "responsive" class attribute will be added to the topnav by the JavaScript code */
/* This media query sets the style for the unfolded topnav */
/* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */
@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
